.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  color: white;

  background-image: url('../src/assets/img/ways-bg.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  
  height: 100vh;
}

.hero-top {
  display: flex;
  justify-content: space-between;

  background-color: black;
  border: solid #FCBB10 1px;
  border-radius: .7rem;
  padding: 10rem;

  width: 80rem;
}

.btn-title1 {
  font-size: 3rem;
}

.book-a-ride {
  background: rgb(253,188,17);
  background: -moz-linear-gradient(270deg, rgba(253,188,17,1) 48%, rgba(255,231,0,1) 84%);
  background: -webkit-linear-gradient(270deg, rgba(253,188,17,1) 48%, rgba(255,231,0,1) 84%);
  background: linear-gradient(270deg, rgba(253,188,17,1) 48%, rgba(255,231,0,1) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbc11",endColorstr="#ffe700",GradientType=1);

  height: 100vh;
  
  background-size: 100%;
  z-index: 0;
}

.book-a-ride__city {
  background-image: url('@../../assets/img/city.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 1300px;
  
  height: 100vh;
  z-index: 10;
}

.about {
  height: 80vh;
}

.airport-trans {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('@../../assets/img/airport-trans-bg.png');
  background-position: center;
  text-align: center;
  height: 30rem;
  color: white;
}


.miami-ft {
  display: flex;
  justify-content: space-around;

  height: 60rem;
}

